<ng-form #pacienteForm="ngForm">
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <label for="nome">Nome</label>
        <input id="nome" name="nome" class="form-control form-control-sm" required minlength="4" appForbiddenName="" [(ngModel)]="paciente.nome" #nome="ngModel" placeHolder="Insira um Nome">
        <!--<small id="ajudaNome" class="form-text text-muted">Insira um nome.</small>-->
      </div>
      <div class="col">
        <label for="cpf">CPF</label>
        <div class="form-group">
            <input id="cpf" name="cpf" class="form-control form-control-sm" required minlength="14" appForbiddenName="" [(ngModel)]="paciente.cpf" #cpf="ngModel" placeHolder="Insira um CPF" mask="000.000.000-00">
        </div>
      </div>
      <div class="col">
          <label for="idade">Idade</label>
          <div class="form-group">
              <input id="idade" name="idade" class="form-control form-control-sm" required minlength="1" appForbiddenName="" [(ngModel)]="paciente.idade" #idade="ngModel" placeHolder="Insira uma idade" maxlength="3" mask="000">
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
          <label for="comboEstadoCivil">Estado Civil</label>
          <div class="form-group">
              <select class="form-control form-control-sm" required name="comboEstadoCivil" id="comboEstadoCivil" [(ngModel)]="paciente.estadoCivil">
                <option [(value)]="estadoCivil.sigla" *ngFor="let estadoCivil of listaEstadoCivil">{{ estadoCivil.descricao }}</option>
              </select>
          </div>
      </div>
      <div class="col">
          <label for="sexo">Sexo</label>
          <div class="form-group">
            <select class="form-control form-control-sm" required name="comboSexo" id="comboSexo" [(ngModel)]="paciente.sexo">
              <option [(value)]="sexo.sigla" *ngFor="let sexo of listaSexo">{{ sexo.descricao }}</option>
            </select>
          </div>
      </div>
      <div class="col">
        <label for="ocupacao">Ocupação</label>
        <input id="ocupacao" name="ocupacao" class="form-control form-control-sm" required [(ngModel)]="paciente.ocupacao" #ocupacao="ngModel" placeHolder="Insira uma ocupação">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="cep">Cep</label>
        <div class="form-group">
            <input id="cep" name="cep" class="form-control form-control-sm" required [(ngModel)]="endereco.cep" #cep="ngModel" maxlength="9" placeHolder="Insira um CEP" mask="00000-000">
        </div>
      </div>
      <div class="col">
        <label for="endereco">Endereço</label>
        <div class="form-group">
            <input id="descricaoEndereco" name="descricaoEndereco" class="form-control form-control-sm" required [(ngModel)]="endereco.descricaoEndereco" #descricaoEndereco="ngModel" placeHolder="Insira um endereço">
        </div>
      </div>
      <div class="col">
          <label for="complemento">Complemento</label>
          <div class="form-group">
              <input id="complemento" name="complemento" class="form-control form-control-sm" required [(ngModel)]="endereco.complemento" #complemento="ngModel" maxlength="50" placeHolder="Insira um complemento">
          </div>
      </div>
      <div class="col">
          <div class="form-group">
            <mat-form-field>
              <input type="text" placeholder="Insira uma cidade" aria-label="Cidade" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="endereco.cidade">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let cidade of listaCidade" [value]="cidade">
                  {{ cidade.nome }} <span>| Estado: {{ cidade.estado.nome }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col sm-4">
        <label for="telefone">Telefone</label>
        <div class="form-group">
            <input id="telefone" name="telefone" class="form-control form-control-sm" required [(ngModel)]="paciente.telefone" #cep="ngModel" maxlength="15" placeHolder="Insira um telefone" mask="(00) 00000-0000">
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="salvar(this.pacienteForm);" class="btn btn-primary btn-sm">Salvar</button>
</ng-form>
<!--
<div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
  <div *ngIf="nome.errors.required">
    Nome é obrigatório.
  </div>
  <div *ngIf="nome.errors.minlength">
    Nome mínixo de 4 caracteres.
  </div>
  <div *ngIf="nome.errors.forbiddenName">
  </div>
</div>
-->
