<ng-form #pacienteForm="ngForm">
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Selecione uma data de avaliação" [(ngModel)]="avaliacao.dataAvaliacao" name="dataAvaliacao">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</ng-form>