<ng-form #avaliacaoForm="ngForm">
  <div class="form-group">
    <div class="form-row">
      <div class="col-sm-2">
        <label for="cpf">CPF</label>
        <div class="form-group">
           <input id="cpf" name="cpf" class="form-control form-control-sm" required minlength="14" appForbiddenName="" [(ngModel)]="avaliacao.paciente.cpf" #cpf="ngModel" placeHolder="Insira um CPF" mask="000.000.000-00">
        </div>
      </div>
      <div class="col-sm-1">
        <div class="form-group">
          <button mat-button (click)="pesquisarPaciente()" class="btn btn-primary btn-sm">Pesquisar</button>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-8">
        <label for="nome">Nome</label>
        <input id="nome" name="nome" class="form-control form-control-sm" required [(ngModel)]="avaliacao.paciente.nome" #nome="ngModel" placeHolder="Nome">
      </div>
      <div class="col-sm-3">
          <label for="nome">Idade</label>
          <input id="idade" name="idade" class="form-control form-control-sm" required [(ngModel)]="avaliacao.paciente.idade" #idade="ngModel" placeHolder="Idade">
        </div>
    </div>
  </div>
</ng-form>
