.fisioterapia-label {
  font-weight: bold;
}

.fisioterapia-table {
  width: 100%;
}

.avaliacao-textarea {
  border-style: dotted;
  border-color: darkgray;
  border-width: 0.5px;
}

.corpo-humano-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.align-center {
  text-align: center;
}

.readonly {
  background-color: white;
}
