<div>
  <ng-form #formConsultaPaciente="ngForm" (ngSubmit)="onSubmit(formConsultaPaciente)">
    <input [(ngModel)]="paciente.nome" name="nome" placeholder="Nome" required>
    <button (click)="onSubmit(formConsultaPaciente)">Pesquisar</button>
  </ng-form>
</div>


<!--<div class="col-md-3">
  <label for="inputCpf" [ngClass]="{'text-danger': !cpf.valid && cpf.touched}">CPF</label>
  <div class="form-group">
    <p-inputMask [(ngModel)]="pessoaFisica.documentoPrincipal"
    #input
    #cpf="ngModel"
    (onComplete)="carregarPessoaFisica()"
    (onBlur)="onBlurCpf($event)"
    [disabled]="pessoaFisica.id || naoPossuiDocumento"
    type="text"
    styleClass="form-control"
    inputId="inputCpf"
    name="inputCpf"
    placeholder="CPF"
    mask="999.999.999-99"></p-inputMask>
    <span class="fa fa-search calendario form-control-feedback" aria-hidden="true"></span>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label for="inputNome">Nome</label>
    <input #nome="ngModel" [(ngModel)]="pessoaFisica.nome" type="text" class="form-control" id="inputNome" name="inputNome" placeholder="Nome" required>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label for="inputNomeMae">Nome da mãe</label>
    <input #nomeMae="ngModel" [(ngModel)]="pessoaFisica.nomeMae" type="text" class="form-control" id="inputNomeMae" name="inputNomeMae" placeholder="Nome da mãe">
  </div>
</div>-->


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="listaPaciente" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>
